<%# render subscribers data by looping  %>
<% subscribers.forEach(subscriber => { %> 
  <p> <%= subscriber.name %> </p>
  <p> <%= subscriber.name %> </p>
  <p> <%= subscriber.zipCode %> </p>
<% }); %> 