<div>
  <h1>Subscriber now!</h1>
  <form action="/subscribe" method="post">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="email">Email</label>
    <input type="email" name="email">
    <input type="text" name="zipCode" placeholder="Zip Code" pattern="[0-9]{7}">
    <input type="submit" value="Submit">
  </form>
</div>